* {
  box-sizing: border-box;
}
.logo-name {
  font-size: 25px;
  font-family: "caveet";
  color: cyan;
}
.logo-name:hover {
  background-color: transparent;
}
.header-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link-container {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 28px;
}
.product-container {
  display: grid;
  grid-template-columns: 280px auto;
}
.side-bar {
  background-color: #0f172a;
  height: 100vh;
  margin-right: 10px;
  padding-top: 30px;
  padding-left: 30px;
}
.categories-item {
  color: white;
  height: 28px;
  background-color: transparent;
  margin: 6px;
  border: 1px solid white;
  outline: none;
  font-family: "roboto";
  border-radius: 10px;
}

.categories-item:hover {
  background-color: cyan;
  color: black;
  box-shadow: 0px 0px 10px cyan, 0px 0px 25px cyan, 0px 0px 35px cyan;
}
.total-price-conatiner {
  background-color: #0f172a;
  padding: 5px;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }
}

.home-heading {
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: #1e293b;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
    text-align: left;
  }
}

.home-description {
  font-family: "Roboto";
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
}

.shop-now-button {
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .shop-now-button {
    font-size: 16px;
  }
}

.search-container {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.sign-in-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-container {
  width: 100%;
  max-width: 450px;
  padding: 35px;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-deatils-container {
  margin: 10px;
}

.sign-in-label-email {
  padding-right: 78px;
}
.sign-in-label-password {
  padding-right: 50px;
}
.sign-in-input {
  padding: 8px;
  border-radius: 10px;
}
.sign-in-button {
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}
.sign-in-button-container {
  margin: 10px;
}
.sign-in-button:hover {
  background-color: black;
  color: white;
}

.sign-up-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-container {
  width: 100%;
  max-width: 450px;
  padding: 35px;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-deatils-container {
  margin: 10px;
}
.sign-up-label-name {
  padding-right: 78px;
}
.sign-up-label-phone {
  padding-right: 10px;
}
.sign-up-label-email {
  padding-right: 78px;
}
.sign-up-label-password {
  padding-right: 50px;
}
.sign-up-input {
  padding: 8px;
  border-radius: 10px;
}
.sign-up-button {
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}
.sign-up-button-container {
  margin: 10px;
}
.sign-up-button:hover {
  background-color: black;
  color: white;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cart-img {
  width: 150px;
}
